<h1>Halo, {{name}} 👋</h1>
<p>Transaksi Anda untuk event dengan ID
  <strong>{{eventId}}</strong>
  telah
  <strong>DITERIMA</strong>.</p>
<p>Total harga: <strong>Rp {{price}}</strong></p>
<p>Terima kasih telah menggunakan platform kami.</p>